name: CI Pipeline

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Display Message
        run: echo "Build Successful - DevOps WebApp"

      - name: List Files
        run: ls -la

      - name: Send Slack Notification
        if: always()
        run: |
          curl -X POST -H 'Content-type: application/json' \
          --data '{"text":"GitHub Action Build Completed for DevOps WebApp"}' \
          ${{ secrets.SLACK_WEBHOOK }}
